@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header {
    background-image: url(/assets/img/cover.jpg);
    background-size: cover;
    min-height:60%;
    background-position: 85% 45%;
}

a { 
    color: inherit;
    text-decoration:  none;
} 

.links {
    padding-top: 8%;
    margin: auto;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

@font-face {
  font-family: "font-icons";
  src:url("/assets/fonts/font-icons.eot");
  src:url("/assets/fonts/font-icons.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/font-icons.woff") format("woff"),
    url("/assets/fonts/font-icons.ttf") format("truetype"),
    url("/assets/fonts/font-icons.svg#font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  font-size: 5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 35px;
  float:left;
}

.icon-bluesky {
  display: inline-flex;
  align-items: center;
  padding-left: 35px;
}

.icon-bluesky svg {
  width: 4.2em;
  height: 4.2em;
}

.icon-bluesky:before {
  display: none;
}

.icon-npm {
  display: inline-flex;
  align-items: center;
  padding-left: 35px;
}

.icon-npm svg {
  width: 4.8em;
  height: 4.2em;
}

.icon-npm:before {
  display: none;
}

.icon-github:before {
  content: "\61";
}
.icon-nuget:before {
  content: "\62";
}
.icon-stack-overflow:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\64";
}
.icon-rss:before {
  content: "\66";
}

.projects {
    padding-top: 3%;
    font-size: 0.95em;
    color: #555;
    letter-spacing: 0.02em;
}

.projects-label {
    color: #888;
    margin-right: 0.3em;
}

.projects a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
}

.projects a:hover {
    border-bottom-color: #333;
}

.separator {
    margin: 0 0.5em;
    color: #aaa;
}

@media (max-width: 600px) {
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        font-size: 2.2em;
        padding-left: 10px;
    }

    .icon-bluesky {
        padding-left: 10px;
    }

    .icon-bluesky svg {
        width: 1.9em;
        height: 1.9em;
    }

    .icon-npm {
        padding-left: 10px;
    }

    .icon-npm svg {
        width: 2.2em;
        height: 1.9em;
    }

    .links :first-child {
        padding-left: 0;
    }

    .links :first-child:before {
        padding-left: 0;
    }

    .links {
        padding-top: 12%;
    }

    .projects {
        padding-top: 6%;
        font-size: 0.75em;
        white-space: nowrap;
    }
}
